<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'layouts/sidebar' %>
    </div>
  </div>
</div>