<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'layouts/sidebar' %>
    </div>

    <div class="col-8">
      <P>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </P>

      <h2>新着商品</h2>



      <p class="text-right">
        <%= link_to "全ての商品を見る>", items_path, method: :get %>
      </p>
    </div>
  </div>
</div>