<div class='container'>
  <div class='row'>
    <div class='col-3'>
      <h2>ジャンル一覧</h2>
      <%#<%= render 'genreのリストテンプレート', 引数: 引数の指定 %>
    </div>
    <div class='col-8 offset-1'>
      
      <%= render 'index', items: @items %>
      
    </div>
  </div>
</div>
