<header>
  <nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">
      Nagano Cake
    </a>
    <ul class="navbar-nav ml-auto">
      <li>about</li>
      <li>商品一覧</li>
      <li>新規登録</li>
      <li>ログイン</li>
    </ul>
  </nav>
</header>