<table class="table border">
  <thead class="table-dark">
    <tr>
      <th>
        ジャンル検索
      <th>
    </tr>
  <tbody>
    <tr>
      <th>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ケーキ</li>
          <li class="list-group-item">焼き菓子</li>
          <li class="list-group-item">プリン</li>
          <li class="list-group-item">キャンディ</li>
        </ul>
      <th>
    </tr>
  </tbody>
</table>