<ul class="list-group list-group-flush">
  <li class="list-group-item font-weight-bold">ジャンル検索</li>
  <% genres.each do |f| %>
  <li class="list-group-item"><%= link_to f.name, genre_path(f) %></li>
  <% end %>
</ul>